* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f3f3f3 !important;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  color: #000000;
}

nav {
  background-color: #000;
  padding: 0;
}

nav .container {
  margin-top: 0;
  margin-bottom: 0;
}

nav .container .navbar-brand {
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
}

.nav-link {
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #f3f3f3 !important;
}

/* Jumbotron */
.jumbotron {
  background: url("../image/about\ us/img2.jpg") no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  padding: auto;
  max-height: 100vh;
}

.jumbotron-content {
  width: fit-content;
  margin: auto;
  /* backdrop-filter: grayscale(0.1) opacity(0) !important; */
}

.limit-width {
  max-width: 50vw;
  /* left: 50%; */
  margin: auto;
}
.jumbotron-content > h1 {
  font-weight: 500;
}

.jumbotron-content > p {
  font-weight: 500;
  font-size: x-large;
}

/* Carousel section */
.carousel-item img {
  height: 50vw;
  width: 100%;
  object-fit: cover;
  max-height: 700px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

footer {
  background-color: #354a5f !important;
}

.btn-rent {
  width: 100%;
  font-size: large !important;
  font-weight: 500 !important;
  /* font-stretch: extra-expanded !important; */
  color: #000 !important;
}

.product-show {
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.listing-to {
  text-decoration: none;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 350px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
  color: #cccccc;
}

.background-opacitied {
  background: rgba(255, 255, 255, 0.7);
}

footer {
  background-color: black !important;
}

@media (max-width: 1000px) {
  .product-show {
    grid-template-columns: 2fr 2fr;
  }
}

@media (max-width: 500px) {
  .product-show {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 610px) {
  .pt-4 .row .col-sm-1 {
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
  }

  .fa-map-marker {
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    visibility: collapse;
  }

  .display-3 {
    font-size: x-large;
  }

  p.limit-width.lead {
    font-size: large;
  }

  p.limit-width {
    font-size: medium;
  }
}
