html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

body {
  background-image: url("../image/about\ us/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  margin-top: 130px;
  margin-bottom: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

.aggreement-form {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.aggreement-form h4 {
  color: #c5ecfd;
  font-size: 12px;
}
.input-fields h1 {
  text-align: center;
  color: #c5ecfd;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  width: 500px;
}
.input-fields .input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #c5ecfd;
}
.btn2 {
  background: #39b7dd;
  text-align: center;
  margin-top: 20px;
  padding-top: 13px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  height: 40px;
}

.btn1 {
  background: #39b7dd;
  margin-top: 20px;
  text-align: center;
  font-size: smaller;
  padding-top: 6px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 120px;
  height: 30px;
}

.radio {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}
.radio input {
  width: 20px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.content {
  height: 150px;
  width: 150px;
  border: 2px dashed #c2cdda;
}

.text {
  text-align: center;
  font-size: small;
  padding-top: 10px;
  color: white;
}

.icon {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}
