* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f3f3f3 !important;
}

h1,
h2,
h3,
h4,
p {
  color: #000000;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: #000;
  padding: 0;
}

nav .container {
  margin-top: 0;
  margin-bottom: 0;
}

nav .container .navbar-brand {
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
}

.nav-link {
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #f3f3f3 !important;
}

.btn-rent {
  width: 100%;
  font-size: large !important;
  font-weight: 500 !important;
  /* font-stretch: extra-expanded !important; */
  color: #000 !important;
}

/* .btn-rent:hover {
  background-color: #69c0ff !important;
  border: none;
} */

.product-show {
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #000000 !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 2rem !important  ;
  }

  .product-show {
    grid-template-columns: 1fr;
  }
}
